#sc /*cssRules[0]*/
{
	padding:10px;
	color: white;
	background-image: url('../img/black-pattern.jpg');
}

#sc textarea /*cssRules[1]*/
{
	border:4px solid #AAAAAA;
	background-color: #0A0A2A;	
	border-left-width: 15px;
	color: white;
}

#cpanel /*cssRules[2]*/
{
	padding:10px;
	background-color:#CCCCCC;
}

#res /*cssRules[3]*/
{
	padding:10px;
	color: white;
	/*background-color:#ECDF71;*/
	background-image: url('../img/black-pattern.jpg');
}
#res textarea /*cssRules[4]*/
{
	border:1px solid #AAAAAA;
}

#opt{ /*cssRules[5]*/
	margin:100px;
}

.cupid-blue { /*cssRules[6]*/
  background-color: #d7e5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
  background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
  background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
  border-top: 1px solid #abbbcc;
  border-left: 1px solid #a7b6c7;
  border-bottom: 1px solid #a1afbf;
  border-right: 1px solid #a7b6c7;
  border-radius: 12px;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  color: #1a3e66;
  font: normal 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 6px 0 7px 0;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  width: 150px; }

.cupid-blue:hover { /*cssRules[7]*/
    background-color: #ccd9e8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
    background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
    border-top: 1px solid #a1afbf;
    border-left: 1px solid #9caaba;
    border-bottom: 1px solid #96a3b3;
    border-right: 1px solid #9caaba;
    -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
    box-shadow: inset 0 1px 0 0 #f2f2f2;
    color: #163659;
    cursor: pointer; }

.cupid-blue:active { /*cssRules[8]*/
    border: 1px solid #8c98a7;
    -webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
    box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee; }

.metal { /*cssRules[9]*/
	/*position: relative;
	margin: 40px auto;
			  
	font: bold 6em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;*/
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	color: hsla(0,0%,20%,1);
	text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
	  
	background-color: hsl(0,0%,90%);
	box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
	inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
	inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
	inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
			    
	hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
	hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 
			  
	transition: color .2s;
}

/* Linear ------------------------- */

.metal.linear {	  	/*cssRules[10]*/
	  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
	  -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
	  -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
			    
	  linear-gradient(180deg, hsl(0,0%,78%)  0%, 
	  hsl(0,0%,90%) 47%, 
	  hsl(0,0%,78%) 53%,
	   hsl(0,0%,70%)100%);
}		

#token textarea /*cssRules[11]*/
{
	color: green;
}
